.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #333333;
  letter-spacing: 0.07rem;
  padding: 0 1rem;
  max-width: 350px;
  margin: auto;
  text-align: center;
  background-color: #f4f4f4;
}

.content {
  flex-grow: 1;
}

.bg-image {
  width: 100%;
  margin: 0 0 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  margin: 1rem;
}

fieldset {
  border-radius: 1rem;
  border: 2px solid cadetblue;
  background-color: white;
}

button {
  background-color: cadetblue;
  outline: none;
  border: none;
  padding: 1rem;
  color: white;
  font-weight: bold;
  margin: 1rem;
  cursor: pointer;
}

input {
  border: 0;
  border-bottom: 2px solid cadetblue;
  padding: 1rem;
  background-color: white;
  text-align: center;
  text-transform: lowercase;
}
